.title {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  letter-spacing: 0.3rem;
  color: inherit;
  height: 100%;
  font-size: 10vh;
}

.bigger {
  font-family: "Quantico", sans-serif;
  transition: 0.3s;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
}
.bigger:hover {
  transform: scale(1.1);
}
