.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(21, 1fr);
  background-color: beige;
  height: 60vmin;
  width: 60vmin;
  margin: 30px;
}
