.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  background-color: aquamarine;
}

.top-row {
  width: 100%;
  justify-content: center;
  display: flex;
}

.bottom-row {
  width: 100%;
  justify-content: center;
  display: flex;
}
