.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.first-row {
  width: 100%;
  justify-content: center;
  display: flex;
}

.second-row {
  width: 100%;
  justify-content: center;
  display: flex;
}

.third-row {
  width: 100%;
  justify-content: center;
  display: flex;
}
