.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  height: 20vh;
}

.first-row {
  width: 100%;
  justify-content: center;
  display: flex;
  height: 33%;
}

.second-row {
  width: 100%;
  justify-content: center;
  display: flex;
  height: 33%;
}

.third-row {
  margin-top: 10px;
  width: 100%;
  justify-content: center;
  display: flex;
  height: 33%;
}
